body{
  margin: 0px;
  padding: 0px;
  font-family: 'Fira Sans', Arial, sans-serif;
  color: #0D0D0D;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img{
  max-width: 100%;
  display: block;
}

.subtitulo{
  font-size: 7rem;
  line-height: 1;
  word-break: break-all;
  text-transform: uppercase;
  max-width: 5ch;
}

@media(max-width:1080px) {
  .subtitulo {
    font-size: 4.9rem;
  }
}

@media(max-width:800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}